<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "deck_randomizer/css/materialize.min.css" %}"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static "deck_randomizer/css/main.css" %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "deck_randomizer/img/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deck_randomizer/img/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deck_randomizer/img/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "deck_randomizer/img/favicon/manifest.json" %}">
    <link rel="mask-icon" href="{% static "deck_randomizer/img/favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "deck_randomizer/img/favicon/favicon.ico" %}">
    <meta name="msapplication-config" content="{% static "deck_randomizer/img/favicon/browserconfig.xml" %}">
    <meta name="theme-color" content="#ffffff">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
    <title>Hearthstone deck randomizer</title>
</head>
<body>
    <main>
    <div class="container">
        <div class="row">
            <!-- Forms -->
            <div class="col s12 m12 l6" id="forms">
                <h5>Hearthstone deck randomizer</h5>
                <!-- Username form -->
                <form method="post" id="import-collection">
                    <div class="row">
                        <div class="col m8 s12">
                            {% csrf_token %}
                            {{ name_form }}
                        </div>
                        <div class="col s12 m12">
                            <button class="waves-effect waves-light btn" id="import-collection">Import collection</button>
                            <a class="btn waves-effect waves-light modal-trigger" href="#modal1">?</a>
                        </div>
                        <div class="col s12">
                            {% if card_amount %}
                                <p id="import-response">{{ card_amount }}</p>
                            {% else %}
                                <p id="import-response">No collection have been imported</p>
                            {% endif %}
                            <div id="import-loader"></div>
                        </div>
                    </div>
                </form>
                <!-- Deck forms -->
                <form method="post" id="deck-data">
                    <div class="row">
                        <div class="col m8 s12">
                            {% csrf_token  %}
                            {% load widget_tweaks %}
                            <div class="input-field">
                                <select class="icons" id="id_hero">
                                {% for id, name in hero_form.hero.field.choices %}
                                    {% with 'deck_randomizer/img/Class_'|add:name|add:'.svg' as class_img %}
                                        <option class="left-circle" data-icon="{% static class_img %}" value="{{ id }}">{{ name }}</option>
                                    {% endwith %}
                                {% endfor %}
                                </select>
                                {{ hero_form.hero.label_tag }}
                                {% comment %}
                                {{ hero_form.hero }}

                                {% endcomment %}
                            </div>
                            <div class="input-field">
                                <select class="icons" id="id_deck_format">
                                    {% for id, name in format_form.deck_format.field.choices %}
                                        {% with 'deck_randomizer/img/Mode_'|add:name|add:'.svg' as format_img %}
                                            <option class="left-circle" data-icon="{% static format_img %}" value="{{ id }}">{{ name }}</option>
                                        {% endwith %}
                                    {% endfor %}
                                </select>
                                {{ format_form.deck_format.label_tag }}
                            </div>
                        </div>
                        <div class="col m8 s12">
                            <button class=" generate_deck waves-effect waves-light btn" disabled="disabled" id="deck-data">Generate Deck</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Deck content -->
            <div class="col s12 m12 l6">
                <div class="card">
                    <div class="card-content">
                        <div id="deck">
                            <div class="row">
                                <div class="col s12">
                                    {% if class %}
                                        <span class="card-title">Random {{ class }} deck</span>
                                    {% else %}
                                        <span class="card-title">Empty deck</span>
                                    {% endif %}
                                    <div class="input-field">
                                        <input disabled value="{{ deckstring }}" id="deckstring">
                                        <label for="deckstring" class="active">Deckstring</label>
                                        <button class="waves-effect waves-light btn" id="copyButton">Copy deckstring</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row big-loader" id="deck-content"></div>
                            {% include 'deck.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <!-- Modal structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Instructions</h4>
            <p>If you want to generates decks based on your personal collection you must do the following steps:</p>
            <ol>
                <li>Create an account on <a href="http://www.hearthpwn.com/">Hearthpwn</a>.</li>
                <li>Sync your Hearthpwn collection with your Hearthstone collection, either manually or by using <a href="https://www.innkeeper.com/">Innkepper</a> (Recommended).</li>
                <li>Check that your collection on Hearthpwn is set to public.</li>
                <li>Type your Hearthpwn username and press import collection!</li>
            </ol>
            <p>If you want to generate random decks based on all available cards, use the username CompleteCollection.</p>
        </div>
    </div>

    <footer class="page-footer white">
      <div class="footer-copyright white">
        <div class="container">
            <p class="grey-text">Send any questions or suggestions to bjorn.birath@gmail.com</p>
        </div>
      </div>
    </footer>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{% load static %}
<script src="{% static "deck_randomizer/js/main.js" %}"></script>
</body>
</html>