<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hearthstone deck randomizer</title>
</head>
<body>
    <h1>Hearthstone deck randomizer</h1>
    {% if no_collection %}
        <h2>Enter your hearthpwn username and class you want to play.</h2>
        <form>
            {% csrf_token  %}
           {% comment %}  <input type="text" name="user_name" id="user_name" size="21" maxlength="150" />
            <input type="text" name="class" id="class" size="21" maxlength="150" /> {% endcomment %}
            {{ name_form }}
            {{ hero_form }}
            {{ format_form }}
           <input type="button" value="Enter" id="submit"/>
{#             <button type="button" id=“sender”>Send data</button><br>#}
        </form>
    {% endif %}
    <p id="update_text">Your answer goes here!</p>

    <div id="deck">
        {% include 'deck.html' %}
    </div>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>

</body>

<script>
    $('#submit').click(function () {
        event.preventDefault();
        console.log('Clicked');
        $.ajax({
            url: 'deck',
            data: {
                'name' : $('#id_name').val(),
                'hero' : $('#id_hero').val(),
                'format' : $('#id_deck_format').val()
            },
            dataType: 'html',
            success: function (data) {
                console.log('Loading html');
                $('#deck').html('').load(
                    "/deck"
                )
                //document.getElementById('update_text').innerHTML = data['response'];
            }

        })
        render_deck()
    });
</script>

<script>
    function render_deck() {
        console.log('Loading html');
        $('#deck').html('').load(
                "{% url 'generate_deck' %}"
        )
    }
</script>

</html>