<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "deck_randomizer/css/materialize.min.css" %}"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
    <title>Hearthstone deck randomizer</title>
</head>
<body>
    <div class="row">
        <div class="col s3" id="forms">
            <h1>Hearthstone deck randomizer</h1>
            <form method="post" id="import-collection">
                {% csrf_token %}
                {{ name_form }}
                <button class="waves-effect waves-light btn" id="import-collection">Import collection</button>
            </form>
            <p id="import-response"></p>
            <div id="import-loader"></div>
            <form method="post" id="deck-data">
                {% csrf_token  %}
                {{ hero_form }}
                <div class="input-field">
                    {{ format_form.deck_format }}
                    {{ format_form.deck_format.label_tag }}
                </div>
                <button class="waves-effect waves-light btn" id="deck-data">
                    Enter
                </button>
            </form>
        </div>
        <div id="deck" class="col s6">
            {% include 'deck.html' %}
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{% load static %}
<script src="{% static "deck_randomizer/js/main.js" %}"></script>
</body>

<script>

</script>
</html>